.d-block{
    height: 91.8vh;
    object-fit: cover;
}

.img_pilotos{
    width: 100%;
    transition: 0.5s;
    z-index: 0;
}

.img_pilotos:hover{
    transform: scale(1.05);
}

.col{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.texto_pilotos{
    position: absolute;    
    background-color: black;
    z-index: 1;
    color: antiquewhite;

}

