*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;  
    background-color: aliceblue;
    color: black;
}

/* Header*/
header{
    margin: 0px;
    padding: 30px 15px;
    background-color: #071626;

    
}
.cabecalho{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;    

}

.logo{
    position: absolute;
    width: 10%;
    left: 0px;
    
   
    
}

.textoCentral{
    text-align: center;
    align-self: top;
    margin: 0;
    font-size: 3rem;
    color: #ff6900;
}

.navBar{
    width: 100%;

    display: flex;    
    justify-content: center ;
    align-items: center;
    margin: 0;
    list-style: none;
    gap: 50px;
    margin-top: 20px;   
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.navBar>li>a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
} 
.navBar>li>a:hover{
    text-decoration: underline;
    color: cyan;
}



/* Main  */

main{
    width: 100%;
}

.menu{
    width: 1200px;
    max-width: 95%;
    margin: auto;

    padding: 50px 0;

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: aliceblue ;
    align-items: center;
    border-radius: 20px;
    gap: 50px;
}

.divCentral{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px; 
    flex-wrap: wrap;
}


.imagem{
    width: 100%;
    
    max-width: 400px; 
    border-radius: 30px;   
}


.div{
    width: 100%;

    max-width: 700px; 
    line-height: 33px;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.titulo2{
    margin-bottom: 33px;
}

/* footer */

.rodape{
    display: flex;
    justify-content: center;   
    background-color: #1C3551;
    color: white;
    width: 100%;
}

.whats{
    width: 100%;    
    max-width: 50px; 
    align-items: center;
    border-radius: 30px; 
    flex-wrap: wrap; 
}

.whatsbutton{
    background-color: transparent;
    outline: none;
    border: none;
    transition: 0.5s;
}

.whatsbutton:hover{
    transform: scale(1.2);
}

.divFooter{
    width: 100%;

    max-width: 700px; 
    line-height: 33px;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 60px;
}

