* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: aliceblue;
    color: black;
    font-size: 1.3rem;

}

header {
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}



footer {
    width: 100%;
    height: 100px;
    background-color: #181818;
}

#cabecalho {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color:
        #181818;
    color: white;
}

#navbar {
    display: flex;
    list-style: none;
    gap: 50px;

}

#eu {
    width: 100%;
    height: 91.5vh;
    transition: filter 0.3s;
    min-width: 100%;
    margin-top: 90px;

}

#eu:hover {
    filter: brightness(0.4);
}

#img_central {
    
    display: flex;
    justify-content: center;
    background-color: #181818;
}

#btn_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #181818;
    color: aliceblue;
    border-radius: 5px;
    transition: border 0.3s, color 0.3s;
    margin-top: 20px;

}

/* #img_central:hover #btn_overlay{
    opacity: 0.8;
    
} */

#img_central:hover:not(#btn_overlay) #btn_overlay {
    opacity: 1;
    display: block;

}

.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.text_box {
    margin: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: #181818 2px solid;
    border-radius: 30px;
    width: 462.41px;
    height: 445px;   
    
    
    
}

.basic_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

#minha_historia{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    width: 100%;
    background-color: #472d26;
    
    

}

#text_historia{
    display: flex;
    justify-content: center;
    flex-direction: column;   
    gap: 15px;
    color: white;
    padding: 50px;
    height: 100%;
    width: 50%;
        
}
#kid{
    padding: 50px;
}

#timeline-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    
}



.timeline {    
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    
    
    
}

.timeline-item {
    padding: 20px;
    border-left: 2px solid #d8ab78;    
    margin-bottom: 50px;
    width: 490px;
}

.timeline-content {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.timeline-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #472d26;
}

.timeline-content p {
    font-size: 20px;
    color: black;
    line-height: 1.6;
}

#img_empresa{
    width: 11%;
    object-fit: contain;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, white 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
  }
  
  .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  }
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, white 200%);
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
  
  .item {
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }
  
  .current-item {
    opacity: 1;
  }
  
  /* This is from w3schools */
  /* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
    
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    
    
  }
  
  .cyan {
    background: cyan;
  }
  
  .deeppink {
    background: deeppink;
  }
  
  .turquoise {
    background: turquoise;
  }
  
  .darkblue {
    background: darkblue;
  }
  
  .purple {
    background: purple;
  }

  .box_carrocel{
    background-color: #333333;
    color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    

 
  }

  .contato{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
  }

  .contato2{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

.msg_in{  
  height: 40px;
  border-radius: 5px;
}
  
input[type="email"]
{
  padding: 10px;
  font-size: 20px;

}

input[type="telefone"]
{
  padding: 10px;
  font-size: 20px;
  

}

input:focus{
  border-color: #007bff;
  outline: none;
}

input {
  width: 100%;
  height: 150px; /* Defina a altura desejada */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  resize: vertical; /* Permitir redimensionamento vertical */
}

textarea {
  width: 100%;
  height: 150px; /* Defina a altura desejada */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: #f4f4f4;
  resize: vertical; /* Permitir redimensionamento vertical */
}

textarea:focus {
  border-color: #007bff; /* Cor da borda ao focar */
  outline: none; /* Remover contorno ao focar */
}

 /* 768px - 1024px = telas menores, laptops */
 @media screen and (max-width: 1024px ) {
 header{
  font-size: 15px;
  width: 100%;
  max-width: 768px;
 }
 
 body{
  margin: 0;
 }

 .main_box{
  max-width: 768px;
  width: 100%;
  align-items: unset;
 }

 #img_central{
  width: 100%;
  height: auto;
 }

 #eu{
  width: 100%;
  height: auto;
 }

 #cabecalho{
  width: 100%;
  
  
 }
 .main_box{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: auto;
 }

 #minha_historia{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

 }
 .contato{
  padding: 30px;
  width: 100%;
  display: flex;
  max-width: 1024px;
}
}
 

 

/* 1024px - 1200px = desktop menores */
@media (min-width: 1024px) {
  h5 {
    color: coral;
  }
}

/* 1200 e + = telas maiores, tvs */
@media (min-width: 1200px) {
  h5 {
    color: darkorchid;
  }
}

