*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #181818;
   
}

.cabecalho{
    background-color: #181818;
}
.lista_navegacao{
    background-color: #181818;
    color: white;   
    width: 100%;
    height: 70px;
    
    
}

.navbar-nav .nav-link {
    color: white; /* Cor vermelha */
}

.nav-item:first-child .nav-link {
    color: white; /* Cor vermelha */
}
.navbar-brand{
    color: white;
}

.teste{
    background-color: #181818;
    padding: 0;
    width: 100%;
    
}










